.flexbox-wrapper {
    display: flex;
}

.flexbox-wrapper.vertical {
    flex-direction: column;
}

.flexbox-wrapper.flexbox-centered {
    justify-content: center;
    align-items: center;
}

.flexbox-wrapper.flexbox-centeredEvenly {
    align-items: center;
    justify-content: space-evenly;
}

.flexbox-wrapper > .flexbox-item {
    flex: 1;
}

.flexbox-wrapper > .flexbox-half-item {
    flex: 0 50%;
}